boto3==1.37.1
botocore==1.37.1
cffi==1.16.0
click==8.1.8
coverage==7.6.12
cupy==13.3.0
Cython==3.0.12
detectron2==0.6
dill==0.3.9
fire==0.7.0
GitPython==3.1.44
GitPython==3.1.44
gradio==5.18.0
gradio_client==1.7.2
Jinja2==3.1.5
kornia==0.8.0
loguru==0.7.3
matplotlib==3.10.0
MPI==1.0.0
MultiScaleDeformableAttention==1.0
nacl==0.0.0
numba==0.61.0
numpy==2.2.3
openai==1.64.0
opencv_python==4.11.0.86
packaging==24.2
paramiko==3.5.1
pep517==0.13.1
Pillow==11.1.0
protobuf==5.29.3
pycocotools==2.0.8
pydantic_settings==2.8.0
pydub==0.25.1
pyproject_hooks==1.2.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
scipy==1.15.2
segment_anything==1.0
setuptools==69.5.1
Sphinx==8.2.1
sphinx_copybutton==0.5.2
sphinx_rtd_theme==3.0.2
spin==0.13
torch==2.5.1+cu124
torchvision==0.20.1+cu124
xmlrunner==1.7.7
